* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  box-shadow: 10px 10px 17px -10px rgba(0, 0, 0, 0.75);
  background-color: white;
  border-radius: 29px;
}
img {
  border-radius: 15px;
  width: 300px;
}
.p1,
.p2 {
  font-weight: 900;
  font-size: 19px;
  text-align: center;
  padding: 10px;
  letter-spacing: 3px;
}
.p2 {
  color: lightgrey;
  font-weight: 400;
  padding-bottom: 29px;
}
.image {
  display: grid;
  justify-content: center;
  margin: 29px;
}
